extends layout

block content
    h1 Play Time 4 Trivia!
    br
    br
    form(action='post')
        div 
            b #{questions[0].Question}
                br
                input(type='radio', name='Question1', value='1')#q1a1
                label(for='q1a1') catclap
                br

                input(type='radio', name='Question1', value='2')#q1a2
                label(for='q1a2') yaay
                br

                input(type='radio', name='Question1', value='3')#q1a3
                label(for='q1a3') Erm
                br

                input(type='radio', name='Question1', value='3')#q1a4
                label(for='q1a4') pepeW
                br
        div 
            b Question 
                br
                input(type='radio', name='Question2', value='1')#q2a1
                label(for='q2a1') xdx
                br

                input(type='radio', name='Question2', value='2')#q2a2
                label(for='q2a2') xdd
                br

                input(type='radio', name='Question2', value='3')#q2a3
                label(for='q2a3') dxd
                br

                input(type='radio', name='Question2', value='3')#q2a4
                label(for='q2a4') kekw
                br
        button(type="submit") Submit