extends layout

block content
    h1 Register
    if error != ''
        label(class='error') #{error}
    form(action='/u/register', method='post')
        label Username:
        input(type='text', name='username' placeholder='Username')
        br
        label Email Address:
        input(type='text', name='email' placeholder='Email Address')
        br
        label Password:
        input(type='password', name='password' placeholder='Password')
        br
        input(type='submit', value='register')